<div class="footer bg-success my-shadow d-flex justify-content-around align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 px-2">
                <h3 class="footer-heading">About Us</h3>
                <p>Virtual shop is the latest shopping website developed in asp.net framework.</p>
            </div>
            <div class="col-md-3" style="padding-left: 100px;">
                <h3 class="footer-heading">Quick Links</h3>
                <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3" style="padding-left: 100px;">
                <h3 class="footer-heading">Popular Search</h3>
                <ul class="footer-links">
                    <li><a href="#">Mobiles</a></li>
                    <li><a href="#">Chairs</a></li>
                    <li><a href="#">Tables</a></li>
                    <li><a href="#">T-Shirts</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="footer-heading">Subscribe</h3>
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="email" class="form-control rounded-left" placeholder="Enter email address">
                        <button type="submit" class="form-control submit rounded-right ms-3">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>